     <section  id="sec2">
                        <div class="container">
                            <div class="section-title">
                                <h2> Conozca Eulearn</h2>
                                <span class="section-separator"></span>
                                <p>Conoce nuestro funcionamiento</p>
                            </div>
                            <div class="time-line-wrap fl-wrap">
                                <!--  time-line-container  --> 
                                <div class="time-line-container">
                                    
                                    <div class="time-line-box tl-text tl-left">
                                        <span class="process-count">01 . </span>
                                        <h3>Enseñanza Personalizada</h3>
                                        <p style="text-align: justify;">El método Eulearn fue diseñado para resolver los problemas de aprendizaje y conocimientos del estudiante. Este se fundamenta en un análisis inicial que identifica las debilidades del estudiante y implementa un plan de trabajo con seguimiento del tutor para generar resultados positivos.</p>
                                    </div>
                                    <div class="time-line-box tl-media tl-right">
                                        <%= image_tag("10.png") %>
                                    </div>
                                </div>
                                <!--  time-line-container --> 
                                <!--  time-line-container  --> 
                                <div class="time-line-container lf-im">
                                 
                                    <div class="time-line-box tl-text tl-right">
                                        <span class="process-count">02 . </span>
                                        <h3>Construcción de conocimiento</h3>
                                        <p style="text-align: justify;">En Eulearn consideramos fundamental el desarrollo del pensamiento y el talento académico. Para nosotros es importante que el estudiante por un lado desarrolle hábitos de estudio y paralelamente aprenda a resolver creativa, efectiva y eficientemente los problemas.</p>
                                      <h3>capacidad de forma autodidacta.</h3>  

                                        <p style="text-align: justify;">Exclusivo y adecuado a las necesidades del estudiante, el material didáctico de Eulearn posee contenido personalizado para estimular la capacidad de análisis y resolución de problemas. Para Eulearn el material didáctico no solo estimula sino también ayuda a generar las competencias que el estudiante necesita.</p>
                                    </div>
                                    <div class="time-line-box tl-media tl-left">
                                       <%= image_tag("4.png") %>
                                    </div>
                                </div>
                                <!--  time-line-container -->                             
                                <!--  time-line-container  --> 
                                <div class="time-line-container">
                                    
                                    <div class="time-line-box tl-text tl-left">
                                        <span class="process-count">03 . </span>
                                        <h3>Sin tareas extra</h3>
                                        <p style="text-align: justify;">Eulearn no pone tareas extra, nuestra misión es ayudar para que el estudiante pueda resolver sus responsabilidades de una manera más rápida y que si necesita reforzar un ásignatura específica tenga con Eulearn el aliado perfecto para hacerlo.</p>
                                         <h3>Más lejos</h3>
                                        <p style="text-align: justify;">Los estudiantes de Eulearn no solo demuestran estar un paso delante de sus compañeros sino además entienden que la competencia más fuerte es con ellos mismos, no se trata de quien llega más rápido sino de quien llega más lejos.</p>
                                    </div>
                                    <div class="time-line-box tl-media tl-right">
                                        <%= image_tag("6.png") %>
                                    </div>
                                </div>

                                 <div class="time-line-container">
                                    
                                    <div class="time-line-box tl-text tl-right">
                                        <span class="process-count">04 . </span>
                                         <h3>Construyendo camino</h3>
                                        <p style="text-align: justify;">Eulearn está comprometido con el desarrollo de pensamiento y talento del estudiante, para que pueda tener las capacidades de tomar decisiones en el momento de enfrentar problemas y retos de la vida. Al final aprendemos para solucionar problemas y entre más habilidades tenemos más fácil y rápido podremos hacerlo.</p>


                                        <h3>Tutores</h3>
                                        <p style="text-align: justify;">Los tutores son fundamentales en el proceso de aprendizaje, este no solo tiene la misión de mostrarle el camino correcto sino además de enseñarle porque lo es. La personalidad, las emociones, la familia, las fortalezas y debilidades académicas del estudiante son interpretadas por tutores para identificar las necesidades del estudiante y diseñar el plan de trabajo.</p>

                                        <p style="text-align: justify;"></p>
                                    </div>
                                    <div class="time-line-box tl-media tl-left">
                                        <%= image_tag("9.png") %>
                                    </div>
                                </div>
                                <!--  time-line-container -->                             
                                <div class="timeline-end"><i class="fa fa-check"></i></div>
                            </div>
                        </div>
                    </section>