<section class="gray-bg" id="sec4">
                        <div class="container">
                            <div class="section-title">
                                <h2> FAQ</h2>
                                <span class="section-separator"></span>
                                <p>Preguntas Frecuentes sobre el método de estudio Eulearn y procedimientos para la matrícula.</p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="accordion">
                                        <a class="toggle act-accordion" href="#"> Cómo Matricularse  <i class="fa fa-angle-down"></i></a>
                                        <div class="accordion-inner visible">
                                            <p>Para inscribirse, los padres e interesados en el método Eulearn deben programar una entrevista individual con el orientador de la unidad escogida para conocer el material didáctico, aplicación de un test de diagnóstico y presentar sus expectativas sobre el método. En esa ocasión, el orientador explicará, en detalles, cómo podrá contribuir el método para el desarrollo del alumno.</p>
                                        </div>
                                        <a class="toggle" href="#">¿Estudiantes de secundaria y adultos también pueden matricularse?<i class="fa fa-angle-down"></i></a>
                                        <div class="accordion-inner">
                                            <p>Sí. El método individualizado de educación Eulearn permite que alumnos de todas las edades logren desarrollarse con actividades programadas de acuerdo con su necesidad y su ritmo de avance. Nuestro material didáctico fue desarrollado con contenidos desde preescolares hasta los de niveles de educación superior.</p>
                                        </div>
                                        <a class="toggle" href="#">¿Cuál es la duración del curso? <i class="fa fa-angle-down"></i></a>
                                        <div class="accordion-inner">
                                            <p>Después de la inscripción, cada alumno recibirá una planificación de estudios, con previsión de avance en los respectivos niveles del material didáctico. Al ser una metodología de estudio individualizada, esta permite que la duración del curso sea de acuerdo al ritmo de aprendizaje de cada alumno, conforme su desempeño y tiempo disponible para hacer las actividades diarias.</p>
                                        </div>
                                        <a class="toggle" href="#"> ¿Hay unidades que ofrecen clases los sábados?<i class="fa fa-angle-down"></i></a>
                                        <div class="accordion-inner">
                                            <p>Las Unidades Eulearn tienen atención de lunes a viernes, pero algunas ofrecen atención los sábados. Elija la unidad más cercana y verifique los horarios de funcionamiento.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="accordion">
                                        <a class="toggle" href="#">¿Niños con necesidades especiales pueden estudiar?<i class="fa fa-angle-down"></i></a>
                                        <div class="accordion-inner">
                                            <p>El método Eulearn apunta a desarrollar en los alumnos la capacidad y la postura de estudiar a través de la auto instrucción, para que se tornen personas independientes y preparadas para el futuro. Buscamos alcanzar este objetivo con todos los alumnos. 

                                            Tenemos indicaciones de alumnos, provenientes de profesionales del área médica, para un trabajo paralelo al que desarrollan con sus pacientes. Eulearn se propone desarrollar la concentración, el hábito de estudio, raciocinio lógico y cálculo mental. De esa forma, el trabajo es adaptado a cada niño, permitiendo el aprendizaje de la lengua materna. 

                                            En los países de Habla Hispana, aún no tenemos estudios científicos en relación a los alumnos con déficits en general: lo que tenemos son diversos casos de alumnos que ya se beneficiaron con el método, incluso presentando déficits, sea de atención, de aprendizaje etc. 

                                            En la inscripción, se le aplica un test de diagnóstico para verificar el nivel de conocimiento de la lengua materna (Español). Se identifica el punto de partida, con contenidos fáciles que les permita presentar notas altas, de esta manera aprovechamos este punto para trabajar la concentración, algo fundamental para sus estudios. Al inicio, el tiempo de concentración que el método exigirá de su hijo estará adecuado al tiempo que dispone. De a poco, vamos ampliando ese tiempo, de forma que él se concentre un poco más. 

                                            Será también estimulado todos los días, creando así el hábito de estudio. Todo el material resuelto es corregido y todas las dudas son aclaradas. El alumno tiene condiciones de aprender con los propios errores y estudiar hasta alcanzar de forma natural la nota 100 en todos los contenidos. Este proceso genera autoestima, capacidad de lidiar con desafíos y autoconfianza en relación a la propia capacidad del alumno, así será capaz de avanzar hasta los contenidos que estudia en el colegio e inclusive sobrepasar esos contenidos.</p>
                                        </div>
                                        <a class="toggle" href="#"> ¿Cuándo es la época de inscripción? <i class="fa fa-angle-down"></i></a>
                                        <div class="accordion-inner">
                                            <p>El método Eulearn no depende de programas o períodos lectivos, la matrícula puede realizarse en cualquier época del año.</p>
                                        </div>
                                        <a class="toggle act-accordion" href="#"> ¿Cuál es el valor del curso? ¿Tiene tasa de inscripción? <i class="fa fa-angle-down"></i></a>
                                        <div class="accordion-inner visible">
                                            <p>La matrícula se cobra al inicio del curso durante la permanencia de estudios en Eulearn. El valor de la mensualidad puede variar de acuerdo con la región y costos operacionales de cada unidad. Entre en contacto con la unidad de su interés para informarse correctamente.</p>
                                        </div>
                                         <a class="toggle" href="#">¿A partir de qué edad es posible comenzar a estudiar en Eulearn? ¿Existe una edad mínima?<i class="fa fa-angle-down"></i></a>
                                        <div class="accordion-inner">
                                            <p>Nuestro material aborda desde contenidos correspondientes a la edad preescolar, por eso, el niño puede ingresar a estudiar en Eulearn antes de estar matriculado en el colegio. 

                                            Los primeros niveles del curso de Matemáticas apuntan a que el alumno se familiarice con los números, de modo que pueda leerlos y recitarlos sin dificultades, distinguir la cantidad de bolitas, desarrollar la coordinación de motricidad fina y dominar la secuencia numérica. 

                                            En el curso de Español, los niveles iniciales tienen como objetivo desarrollar la capacidad de lectura y escritura del alumno desde la alfabetización hasta la lectura de pequeñas historias.</p>
                                        </div>
                                       
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>