     <section  id="sec2">
                        <div class="container">
                            <div class="section-title">
                                <h2>Lista de precios y Servicios</h2>
                               
                                <span class="section-separator"></span>
                                <p>Conoce el precio y medio de pago de nuestros servicios</p>
                            </div>
                            <div class="pricing-wrap fl-wrap">
                                <!-- price-item-->
                                <div class="price-item">
                                    <div class="price-head op1">
                                        <h3>Programa Fast Class</h3>
                                    </div>
                                    <div class="price-content fl-wrap">
                                        <div class="price-num fl-wrap">
                                            <span class="curen">$</span>
                                            <span class="price-num-item">45.000</span> 
                                            <div class="price-num-desc">Por sesión de dos hora</div>
                                        </div>
                                        <div class="price-desc fl-wrap">
                                            <ul>
                                                <li>Profesor recomendado</li>
                                                <li>Mejora de las habilidades</li>
                                                <li>Seguimiento personalizado</li>
                                            </ul>

                                            <a href="https://biz.payulatam.com/B0bfcaa06CD81F5"><img src="http://www.payulatam.com/img-secure-2015/boton_pagar_grande.png" class="price-link"></a>
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- price-item end-->
                                <!-- price-item-->
                                <div class="price-item best-price">
                                    <div class="price-head op2">
                                        <h3>Programa Intensivo</h3>
                                    </div>
                                    <div class="price-content fl-wrap">
                                        <div class="price-num fl-wrap">
                                            <span class="curen">$</span>
                                            <span class="price-num-item">190.000</span> 
                                            <div class="price-num-desc">8 sesiones de clase</div>
                                        </div>
                                        <div class="price-desc fl-wrap">
                                            <ul>
                                                <li>Profesor recomendado</li>
                                                <li>Mejora de las habilidades</li>
                                                <li>Seguimiento personalizado</li>
                                            </ul>
                                            <a href="https://biz.payulatam.com/B0bfcaaBA44E0BD"><img src="http://www.payulatam.com/img-secure-2015/boton_pagar_grande.png" class="price-link"></a>
                                            <div class="recomm-price">
                                                <i class="fa fa-check"></i> 
                                                <span class="clearfix"></span>
                                                Recomendado
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- price-item end-->
                                <!-- price-item-->
                                <div class="price-item">
                                    <div class="price-head">
                                        <h3>Programa-Multidisciplinar</h3>
                                    </div>
                                    <div class="price-content fl-wrap">
                                        <div class="price-num fl-wrap">
                                            <span class="curen">$</span>
                                            <span class="price-num-item">210000</span> 
                                            <div class="price-num-desc">Por sesiones de diferentes asignaturas</div>
                                        </div>
                                        <div class="price-desc fl-wrap">
                                            <ul>
                                               <li>Profesor recomendado</li>
                                                <li>Mejora de las habilidades</li>
                                                <li>Seguimiento personalizado</li>
                                            </ul>
                                            <a href="https://biz.payulatam.com/B0bfcaa18CD10EC"><img src="http://www.payulatam.com/img-secure-2015/boton_pagar_grande.png" class="price-link"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- price-item end-->                                                    
                            </div>
                     
                        </div>
                    </section>