    <section class="gray-section no-top-padding">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="list-single-main-wrapper fl-wrap" id="sec2">
                                        <div class="list-single-main-media fl-wrap">
                                             <%= image_tag("13.png") %>
                                          
                                            <a href="https://vimeo.com/70851162" class="promo-link gradient-bg image-popup"><i class="fa fa-play"></i><span>Programa Multidisciplinar:</span></a>
                                        </div>
                                        <div class="list-single-main-item fl-wrap">
                                            <div class="list-single-main-item-title fl-wrap">
                                                <h3>“¿Por qué conformarme con una sola, si quiero aprender más?”</h3>
                                            </div>
                                            <p style="text-align: justify;">Este servicio está diseñado para nivelar, fortalecer y mejorar los conocimientos específicos de los estudiantes en más de una asignatura. La flexibilidad de utilizar las 12 horas en hasta 3 asignaturas permitirá que su hijo pueda avanzar más rápido. Esto implica que si su hijo necesita reforzar tres materias pueda hacerlo casi por el costo de una. El estudiante puede armar su plan de servicio según las necesidades que tiene, puede distribuir las ocho (8) sesiones de hora y media acorde con lo que más necesita trabajar. Se inicia con un diagnostico donde se identifican las asignaturas en las que debe  mejorar y un plan de trabajo que asegura los resultados. </p>
                                            
                                            <div class="list-single-main-item-title fl-wrap">
                                                <h3>“Nuestro compromiso es contribuir para que su hijo pueda demostrar todo su potencial y mejore su calidad de vida académica.”</h3>
                                            </div>
                                            <p style="text-align: justify;">Su hijo tendrá la posibilidad de trabajar hasta con tres tutores comprometidos con su aprendizaje, ayudándolo a desarrollar las competencias necesarias en las áreas que necesita.</p>
                                           
                                           
                                              <a> <%= link_to pages_download_pdf_url, 
                                              class: "btn transparent-btn float-btn" do %>
                                              Brochure Eulearn <i class="fa fa-file-pdf-o"></i> <% end %> </a>

                                            <span class="fw-separator"></span>
                                            <div class="list-single-main-item-title fl-wrap">
                                                <h3>Carecteristicas Principales</h3>
                                            </div>
                                            <div class="listing-features fl-wrap">
                                                <ul>
                                                    <li><i class="fa fa-graduation-cap"></i>Enseñanza Personalizada</li>
                                                    <li><i class="fa fa-graduation-cap"></i>Construcción de conocimiento</li>
                                                    <li><i class="fa fa-graduation-cap"></i>Material didáctico</li>
                                                    <li><i class="fa fa-graduation-cap"></i>Sin tareas extra</li>
                                                    <li><i class="fa fa-graduation-cap"></i> Tutores personalizados</li>
                                                </ul>
                                            </div>
                                            <span class="fw-separator"></span>
                                        
                                        </div>                          
                                    </div>
                                </div>
                                <!--box-widget-wrap -->
                                <div class="col-md-4">
                                    <div class="box-widget-wrap">
                                        <!--box-widget-item -->
                                        <div class="box-widget-item fl-wrap">
                                            <div class="box-widget-item-header">
                                                <h3>Horario disponible: </h3>
                                            </div>
                                            <div class="box-widget opening-hours">
                                                <div class="box-widget-content">
                                                    
                                              <ul>
                                                    <li><span class="opening-hours-day">Lunes </span><span class="opening-hours-time">2:30 pm - 6:30 PM</span></li>
                                                    <li><span class="opening-hours-day">Martes </span><span class="opening-hours-time">2:30 pm - 6:30 PM</span></li>
                                                    <li><span class="opening-hours-day">Miercoles </span><span class="opening-hours-time">2:30 pm - 6:30 PM</span></li>
                                                    <li><span class="opening-hours-day">Jueves </span><span class="opening-hours-time">2:30 pm - 6:30 PM</span></li>
                                                    <li><span class="opening-hours-day">Viernes </span><span class="opening-hours-time">2:30 pm - 6:30 PM</span></li>
                                                    <li><span class="opening-hours-day">Sabado </span><span class="opening-hours-time">8 AM - 12:30 PM</span></li>
                                                    <li><span class="opening-hours-day">Sunday </span><span class="opening-hours-time">Cerrado</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--box-widget-item end -->  
                                        <!--box-widget-item -->
                                        <div class="box-widget-item fl-wrap">
                                            <div class="box-widget-item-header">
                                                <h3>Reserva tú clase online : </h3>
                                            </div>
                                            <div class="box-widget opening-hours">
                                                <div class="box-widget-content">
                                                    <form   class="add-comment custom-form">
                                                        <a href="https://biz.payulatam.com/B0bfcaa18CD10EC"><img src="http://www.payulatam.com/img-secure-2015/boton_pagar_grande.png" class="price-link"></a>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                    
                                       
                                        <!--box-widget-item end -->     
                                    </div>
                                </div>
                                <!--box-widget-wrap end -->
                            </div>
                        </div>
                    </section>